[Unit]
Description=Setup service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
PassEnvironment=FIREWALL_BLOCK_PRIVATE_SUBNETS FIREWALL_BLOCK_SUBNETS
ExecStart=/setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
